footer {
  background: transparent;
}

.slashedlines {
  display: repeat;
  margin-bottom: 10px;
}

h4 {
  float: right;
  font-weight: bold;
  font-family: Caveat, open-sans;
  
}

.venessaImage {

  width: 100%;
  height: 100%;
}

button {
  background: rgb(134, 81, 60);
  color: white;

}

button:hover {
  background: rgb(161, 60, 20);
}
